.chatiabg {
  background: linear-gradient(to right, #fff5f0, #fffaf5);
  min-height: 100vh;
}

.chatiacard {
  max-width: 600px;
  border-radius: 10px;
  padding: 30px 25px;
  background: white;
}

.chatiaempty {
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #fffefc, #fffdf9);
  margin-bottom: 30px;
}

.chatiaicons {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #c08060;
}

.chatia-input {
  border-radius: 8px;
  height: 45px;
}

.botaoprimarioo {
  background-color: #b9815d !important;
  color: white !important;
  font-weight: bold !important;
  border: none !important;
  padding: 10px 24px !important;
  border-radius: 6px !important;
}
